profiles {
    hpc {
        process {
        executor = "slurm"
        cpus = 2
        memory = 16.GB
        time = "01:00:00"
        queueSize = 3000
        submitRateLimit = 100
        clusterOptions = "project_ID"
        exitStatusReadTimeoutMillis = '10000000'
        }
        singularity {
            enabled = true
        }
    }
}
